@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #216869;
  --secondary-color: #49A078;
  --accent1-color: #1F2421;
  --accent2-color: #DCE1DE;

  /* change the values below to your chosen font(s) */
  --heading-font: "Funnel Display";
  --paragraph-font: Helvetica;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent2-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--accent1-color);
}

body{
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header {
  position: relative;
  text-align: center;
  padding: 10px 0;

}

header p{
    margin-top: 45px;
    text-align: center;
    border-bottom: 1px solid black
}

header .logo {
    position: absolute;
    left: 10px;
    top: 10%;
    width: 150px;
}


.skiptocontent a{
    position: absolute;
    top: -40px;
    color: var(--accent-color);
}
.skiptocontent a:focus{
    top: 0;
}

header h1{
    flex: 1;
    text-align: center;
}



li a{
    text-decoration: none;
    color: var(--secondary-color);
    justify-content: end;
}

.main-nav{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    justify-content: center;
    justify-items: end;
    list-style: none;
    padding-right: 0;
}

.main-nav li a{
    color: var(--accent2-color);
    padding: 10px;
    border-radius: 5px;
    background: var(--accent1-color);
}

.bookgrid {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: start;
    position: relative;
}

.bookentry {
    display: contents;
    grid-column: 1 / span 2;
}


.misc {
    justify-self: center;
    text-align: right;
    border-right: 2px solid var(--accent-color);
    padding: 10px;
    grid-column: 1/2;
}


images img{
    max-width: 100px;
    height: auto;
    display: block;
    margin: 10 auto;
    
}

#email-container img{
    width: 25%;
    text-align: center;
}

#year-filter {
    width: 100%;
    font-size: 1em;
}

.book img{
    max-width: 250px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.book{
    text-align: center;
    padding: 10px;
}

.book a{
    color: var(--accent2-color);
}

.filterspacing {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
}

#search {
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
    margin-top: 20px;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    width: 100%;
    margin-right: 10px
}

.filters{
    margin-top: 20px;
    grid-column: 3/4;
    background : var(--accent1-color);
    border: 1px solid var(--accent1-color);
    border-radius: 10px;
}

.filterform{
    display: flex;
    
    gap: 1px;
    text-align: center;
    margin-bottom: 20px;
}

.filterform label{
    margin-top: 20px;
}

#year-filter {
    margin-top: 20px;
    margin-right: 20px;
    width: 90%;
}

@media (max-width: 700px) {
    .book{
        grid-column: 2;
        text-overflow: none;
        text-wrap: wrap;
        max-width: 250px;
    }
    header .logo {
    position: absolute;
    left: 10px;
    top: 10%;
    width: 120px;
}
   

    .filters {
        grid-column: 1/-1;
    }

    #search {
        grid-column: 1 / 2;
        width: 100%;
        margin-bottom: 10px;
    }

    .misc {
        grid-column: 1 / 2;
        border-right: none;
        text-align: center;
    }

    .main-nav {
        grid-template-columns: repeat(2, 100px);
        justify-content: center;
        padding-right: 0;
    }
}

@media (max-width: 500px) {
    .book{
        grid-column: 2;
        max-width: 250px;
        padding: 10px;
    }

    #search {
        grid-column: 1 / 2;
        width: 100%;
        margin-bottom: 10px;
    }

    .filters {
        grid-column: 1/-1;
        text-align: center;
    }

   header .logo {
    position: absolute;
    left: 10px;
    top: 10%;
    width: 100px;
}

    .misc {
        grid-column: 2;
        text-align: left;
        
    }

    .main-nav {
        grid-template-columns: repeat(2, 100px);
        justify-content: center;
        padding-right: 0;
    }
}