body{
    font-size: 20px;
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.dark{
    background-color: #333;
    color: white;
}

.dark h5{
    color: rgb(160, 212, 237);
}

.title{
    text-align: center;
}

h5{
    color: #006EB6;
}

.line{
    width:60%;
    height:1px;
    background-color: grey;
    margin: -20px auto 30px auto;
}

.content{
    width: 600px;
    margin: 50px auto;
    padding: 50px 150px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
}


footer{
    text-align: center;
    margin-top: 20px;
}

footer img{
    width: 150px;
    height: auto;
    margin-top: 10px;
}
